{% render 'base_head' %}
        <div class="row justify-content-center">
            <div class="card" style="width: 50rem;">
                <div class="card-header">
                  <a href="#">
                    <h4>Edit Pokemon</h4>
                  </a>
                </div>       
                <form action={{ "/pokemon/" | append: pokemon.id }} method="PUT">
                    <div class="card-body">
                        <div class="form-group">
                            <div id="login-alert" class="alert alert-success col-sm-12" {{ hidden | default : "hidden"}}>
                            <p>Pokemon Updated</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" id='form-mini-headers'>Basic Info.</label>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">ID:</label>
                            <input type="text" class="form-control" id="id" name="id" placeholder="E.g. 152" value = {{ pokemon.id }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="E.g. Chameleon" value = {{ pokemon.name }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Image URL:</label>
                            <input type="text" class="form-control" id="img" name="img" placeholder="E.g. http[s]://img.pokemondb.net/artwork/bulbasaur.jpg" value= {{ pokemon.img }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Type:</label>
                            <input type="text" class="form-control" id="type" name="type" placeholder="E.g. Grass,Short,Quick" value={{ pokemon.type }}>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" id='form-mini-headers'>Stats</label>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Hp:</label>
                            <input type="text" class="form-control" id="hp" name="hp" placeholder="E.g. 80" value={{ pokemon.stats.hp }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Attack:</label>
                            <input type="text" class="form-control" id="attack" name="attack" placeholder="E.g. 80" value={{ pokemon.stats.attack }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">{{"defense" | capitalize}}:</label>
                            <input type="text" class="form-control" id="defense" name="defense" placeholder="E.g. 80" value={{ pokemon.stats.defense }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Spattack:</label>
                            <input type="text" class="form-control" id="spattack" name="spattack" placeholder="E.g. 80" value={{ pokemon.stats.spattack }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Spdefense:</label>
                            <input type="text" class="form-control" id="spdefense" name="spdefense" placeholder="E.g. 80" value={{ pokemon.stats.spdefense }}>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputEmail1">Speed:</label>
                            <input type="text" class="form-control" id="speed" name="speed" placeholder="E.g. 80" value={{ pokemon.stats.speed }}>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-sm">
                        <button type="submit" id='data-submit' class="btn btn-outline-dark">Submit</button>                                 
                        </div>
                    </div>
                    </div>  
                </form>
            </div>
        </div>
{% render 'base_tail' %}

<script>
    
    $(
        $("#data-submit").on('click' , (e)=>{
            e.preventDefault();
            $("#data-submit").attr('disabled',true);
            let id      =   $("#id").val(),
                name    =   $("#name").val(),
                img     =   $("#img").val(),
                type    =   $("#type").val(),
                hp      =   $("#hp").val(),
                attack  =   $("#attack").val(),
                defense =   $("#defense").val(),
                spattack=   $("#spattack").val(),
                spdefense=  $("#spdefense").val(),
                speed   =   $("#speed").val()
                ;

            let data    =   {id:id , name:name , img:img , type:type , hp:hp , attack:attack , defense:defense , spdefense:spdefense , spattack:spattack , speed:speed};

            $.ajax({
                url: '{{ "/pokemon/" | append: pokemon.id }}',
                method:"PUT",
                data:data,
                success:(resp , status)=>{
                    console.log(resp)
                    if(resp == 0)       // 0 indicates success
                    {
                        $("#login-alert").removeAttr('hidden');
                        window.scrollTo(0,0);
                        setTimeout(()=>{
                            window.location.href    =   '{{ "/pokemon/" | append: pokemon.id }}';
                        },3000)
                    }
                },
                error:(xhrObj , status , errorThrown)=>{
                    console.log(status)
                },
                timeout:60
            })
        })
    );
</script>