{% render 'base_head' %}
{% render 'modal' %}
          <div class="row justify-content-start">

            {% for pokemon in pokemons %}
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <a href={{ "/pokemon/" | append: pokemon.id }}>
                    <h4>{{ pokemon.name }}</h4>
                  </a>
                </div>
                <div class="card-body">
                  <a href={{ "/pokemon/" | append: pokemon.id }}>
                      <img class="card-img-top" src={{ pokemon.img }} alt={{ pokemon.name }}>
                  </a>
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col-sm">
                      <a href={{ "/pokemon/" | append: pokemon.id | append: '/' | append: 'edit'}}>
                        <p>Edit</p>
                      </a>                      
                    </div>
                    <div class="col-sm">
                      <a href={{ "javascript:void(0)" }}>
                        <p class="delete_pokemon" data-id = {{ pokemon.id }}>Delete</p>
                      </a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
{% render 'base_tail' %}
{% render 'delete_pokemon' %}